# Backend Environment Variables Template
DB_HOST=localhost
DB_PORT=5432
DB_NAME=acidweb_db
DB_USER=duser
DB_PASS=pass
DB_SSLMODE=?sslmode=prefer

# Security & Admin Setup
ACIDSOFT_JWT_SECRET=64-character-production-jwt-secret-key
ACIDSOFT_ADMIN_USERNAME=admin
ACIDSOFT_ADMIN_PASSWORD=password
ACIDSOFT_ADMIN_EMAIL=admin@acidsoft.io
